{
  "source": {
    "directories": [
      "src\/main"
    ]
  },
  "timeout": 10,
  "logs": {
    "text": "build\/infection.log",
    "badge": {
      "branch": "master"
    }
  },
  "mutators": {
    "@default": true
  }
}
